<hr>
<div class="form-horizontal" >
<div class="form-group">
        <label  class="control-label col-sm-2" for="email">Input from Parent to Child:</label>
        <div class="col-sm-10"> 
        <input type="textg" class="form-control" id="email" [(ngModel)]="parentToCall"/>
        </div>
      </div>
     
      <div class="form-group">
            
            <label  class="control-label col-sm-2" for="email">Output from  Child: </label>
            
            <div class="col-sm-10"> 
                    {{childValue}}
                </div>
        </div>
        <ul class="list-group">
                <li class="list-group-item" *ngFor="let recipient of donarInFrmChild">
                  {{recipient}}
                 </li>
              
              
              </ul>
<app-child [childCall]=parentToCall (toParent)="onChange($event)" (aliasParentMap)="onCall($event)" (getInputParentMap)="searchIn($event)"></app-child>